.commentContainer {
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: lightblue;
}

.textField {
    background-color: whitesmoke;
}

.addCommentBtn {
    margin-top: 15px;
    margin-left: 950px;
    max-width: 200px;
    justify-content: center;
    margin-bottom: 15px;
    padding-bottom: 25px
}